.app-promo-item,
.imockup-iphone-15-pro-max1 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.app-promo-item {
  margin-top: -1.3999999999999773px;
  align-self: stretch;
  height: 0;
  flex-shrink: 0;
  object-fit: contain;
}
.imockup-iphone-15-pro-max1 {
  height: 600px;
  flex: 1;
  object-fit: cover;
}
.app-promo1,
.imockup-iphone-15-pro-max-wrapper {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.imockup-iphone-15-pro-max-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-18xl);
}
.app-promo1 {
  flex: 1;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.16);
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 0.6000000000000227px;
  gap: 1.4px 0;
  min-width: 408px;
}
.our-services {
  margin: 0;
  width: 549px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  background: linear-gradient(92.57deg, #00c5d4, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  max-width: 100%;
}
.the-right-exposure {
  align-self: stretch;
  position: relative;
  font-size: var(--body-2-size);
  line-height: 32px;
  text-align: left;
}
.disclaimer-frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px 0;
  max-width: 100%;
}
.view-services1 {
  position: relative;
  font-weight: 500;
}
.arrow-right-icon6,
.instance-child {
  position: absolute;
  margin: 0 !important;
}
.arrow-right-icon6 {
  height: 33.8px;
  width: 33.8px;
  top: 11.1px;
  right: 16px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.instance-child {
  height: 103px;
  width: 16px;
  top: -39.02px;
  left: 6.51px;
  background-color: var(--color-white);
  transform: rotate(30deg);
  transform-origin: 0 0;
}
.view-services-group {
  border-radius: var(--br-9xs);
  background-color: var(--neutral-black);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16.000000000000014px var(--padding-35xl) var(--padding-base)
    var(--padding-5xl);
  position: relative;
  gap: 0 4px;
}
.more-details2 {
  position: relative;
  font-size: var(--body-2-size);
  font-weight: 500;
  font-family: var(--caption-regular);
  color: var(--neutral-black);
  text-align: left;
}
.arrow-right-icon7 {
  height: 33.8px;
  width: 33.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  display: none;
}
.privacy-policy-frame,
.secondary-button5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.secondary-button5 {
  cursor: pointer;
  border: 1px solid var(--neutral-black);
  padding: 16.000000000000014px var(--padding-3xl) var(--padding-base)
    var(--padding-4xl);
  background-color: var(--button-gradient);
  border-radius: var(--br-9xs);
  gap: 0 4px;
  white-space: nowrap;
}
.secondary-button5:hover {
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.privacy-policy-frame {
  gap: 0 40px;
  max-width: 100%;
  text-align: left;
  font-size: var(--body-2-size);
  color: var(--color-white);
  font-family: var(--caption-regular);
}
.echio-logo-frame {
  align-self: stretch;
  flex-direction: column;
  gap: 40px 0;
}
.app-promo-parent,
.echio-logo-frame,
.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.footer-container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-137xl-3) 0 0;
  box-sizing: border-box;
  min-width: 408px;
}
.app-promo-parent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 24px;
  text-align: center;
  font-size: var(--font-size-61xl);
  color: var(--color-gray-200);
  font-family: var(--font-syne);
}
@media screen and (max-width: 750px) {
  .app-promo1 {
    min-width: 100%;
  }
  .our-services {
    font-size: var(--font-size-21xl);
  }
  .disclaimer-frame1 {
    gap: 16px 0;
  }
  .echio-logo-frame {
    gap: 20px 0;
  }
  .footer-container {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .our-services {
    font-size: var(--font-size-5xl);
  }
  .the-right-exposure {
    line-height: 26px;
  }
  .the-right-exposure,
  .view-services1 {
    font-size: var(--font-size-base);
  }
  .privacy-policy-frame {
    flex-wrap: wrap;
    gap: 0 20px;
  }
  .footer-container {
    padding-top: var(--padding-83xl);
    box-sizing: border-box;
  }
}
