.arrowright-child,
.arrowright-child1,
.arrowright-child10,
.arrowright-child11,
.arrowright-child12,
.arrowright-child13,
.arrowright-child14,
.arrowright-child15,
.arrowright-child16,
.arrowright-child17,
.arrowright-child18,
.arrowright-child19,
.arrowright-child2,
.arrowright-child20,
.arrowright-child21,
.arrowright-child22,
.arrowright-child23,
.arrowright-child24,
.arrowright-child25,
.arrowright-child3,
.arrowright-child4,
.arrowright-child5,
.arrowright-child6,
.arrowright-child7,
.arrowright-child8,
.arrowright-child9,
.arrowright-inner,
.arrowright-item,
.rectangle-icon {
  height: 56px;
  width: 200px;
  position: relative;
  border-radius: var(--br-9xs);
  flex-shrink: 0;
  object-fit: cover;
  min-height: 56px;
}
.arrowright,
.label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.arrowright {
  width: 1440px;
  overflow-x: auto;
  gap: 0 8px;
  max-width: 100%;
}
.label {
  margin-left: -81px;
  width: 6024px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding: var(--padding-9xs) 0;
  box-sizing: border-box;
  max-width: 471%;
  z-index: 1;
}
